apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: billi
rendezvousIP: {{ rendezvous_ip|default(hosts[0]['addresses'][0]['ip']) }}
hosts:
{% for host in hosts %}
- hostname: {{ host['name']|default(cluster + "-" + loop.index0|string) }}
{% if 'disk' in host %}
  rootDeviceHints:
    deviceName: "/dev/{{ host['disk'] | basename }}"
{% elif 'hctl' in host %}
  rootDeviceHints:
    hctl: "{{ host['hctl'] }}"
{% elif 'serial' in host %}
  rootDeviceHints:
    serialNumber: "{{ host['serial'] }}"
{% elif 'wwn' in host %}
  rootDeviceHints:
    wwn: "{{ host['wwn'] }}"
{% endif %}
  interfaces:
  - macAddress: {{ host['mac'] }}
    name: {{ host['nic']|default('ens3') }}
  networkConfig:
    dns-resolver:
      config:
        server:
{% for ns in dns_resolver %}
        - {{ ns }}
{% endfor %}
    interfaces:
    - ethernet:
        auto-negotiation: true
        duplex: full
        speed: 1000
{% for int in host['addresses'] %}
{{ int['ip']|ipv6 | ternary('      ipv6','      ipv4') }}:
        address:
        - ip: {{ int['ip'] }}
          prefix-length: {{ int['netmask'] }}
        enabled: true
{% endfor %}
      mac-address: {{ host['mac'] }}
      mtu: 1500
      name: {{ host['nic']|default('ens3') }}
      state: up
      type: ethernet
    routes:
      config:
{% for int in host['addresses'] %}
      - destination: {{ int['ip']|ipv6 | ternary('::/0', '0.0.0.0/0') }}
        next-hop-address: {{ int['gateway']  }}
        next-hop-interface: {{ host['nic']|default('ens3') }}
{% if int['ip']|ipv4 %}
        table-id: 254
{% endif %}
        enabled: true
{% endfor %}
{% endfor %}
