{% set cluster_network_ipv4 = {"cidr": "10.132.0.0/14", "hostPrefix": 23} %}
{% set cluster_network_ipv6 = {"cidr": "fd01::/48", "hostPrefix": 64} %}
{% set service_network_ipv4 = ["172.30.0.0/16"] %}
{% set service_network_ipv6 = ["fd02::/112"] %}
{% set machine_networks = [] %}
{% if dualstack|default(False) %}
{% set cluster_networks = [cluster_network_ipv4] + [cluster_network_ipv6] %}
{% set service_networks = service_network_ipv4 + service_network_ipv6 %}
{% elif ipv6|default(False) or (api_vip is defined and ':' in api_vip) %}
{% set cluster_networks = [cluster_network_ipv6] %}
{% set service_networks = service_network_ipv6 %}
{% else %}
{% set cluster_networks = [cluster_network_ipv4] %}
{% set service_networks = service_network_ipv4 %}
{% endif %}
{% for addr in hosts[0]['addresses'] %}
{% set machine_networks = machine_networks.append((addr.ip|string+'/'+addr.netmask|string)|ipaddr('network/prefix')) %}
{% endfor %}

apiVersion: v1
baseDomain: {{ domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: {{ 0 if sno|default(False) else workers }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: {{ 1 if sno|default(False) else masters }}
metadata:
  name: {{ cluster }}
networking:
  clusterNetwork:
{% for network in cluster_networks %}
  - cidr: {{ network.cidr }}
    hostPrefix: {{ network.hostPrefix }}
{% endfor %}
  machineNetwork:
{% for network in machine_networks %}
  - cidr: {{ network }}
{% endfor %}
  networkType: OVNKubernetes
  serviceNetwork:
{% for network in service_networks %}
  - {{ network }}
{% endfor %}
platform:
{% if sno|default(False) %}
  none: {}
{% else %}
  baremetal:
    apiVips:
    - {{ api_vip }}
    hosts:
{% for host in hosts %}
    - name: {{ host['name']|default(cluster + "-" + loop.index0|string) }}
      bootMACAddress: {{ host['mac'] }}
      role: {{ host['role']|default('master' if loop.index0 < 3 else 'worker') }}
{% endfor %}
    ingressVips:
    - {{ ingress_vip }}
{% endif %}
pullSecret: '{{ pull_secret_data }}'
sshKey: {{ ssh_key }}
{% if ca is defined %}
additionalTrustBundle: |
 {{ ca | replace('\n', '\n ') }}
{% endif %}
{% if disconnected_url is defined %}
imageContentSources:
{% for source in ['quay.io/openshift-release-dev/ocp-v4.0-art-dev', 'quay.io/openshift-release-dev/ocp-release'] %}
- mirrors:
  - {{ disconnected_url }}/{{ disconnected_prefix|default('ocp4') }}
  source: {{ source }}
{% endfor %}
{% endif %}
