apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: sno-custom
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      files:
      - contents:
          source: data:text/plain;charset=utf-8;base64,${COREDNS}
          verification: {}
        filesystem: root
        mode: 420
        path: /etc/kubernetes/manifests/coredns.yml
      - contents:
          source: data:text/plain;charset=utf-8;base64,${COREFILE}
          verification: {}
        filesystem: root
        mode: 420
        path: /etc/kubernetes/Corefile.template
      - contents:
          source: data:text/plain;charset=utf-8;base64,${FORCEDNS}
          verification: {}
        filesystem: root
        mode: 493
        path: /etc/NetworkManager/dispatcher.d/99-forcedns
      - contents:
          source: data:text/plain;charset=utf-8;base64,${KEEPALIVED}
          verification: {}
        filesystem: root
        mode: 420
        path: /etc/kubernetes/manifests/keepalived.yml
      - contents:
          source: data:text/plain;charset=utf-8;base64,${KEEPALIVEDCONF}
          verification: {}
        filesystem: root
        mode: 420
        path: /etc/kubernetes/keepalived.conf.template
